<!DOCTYPE html>
<html land="de">
<head>
  <meta charset="utf-8">
  <title>Paragraf5 - OKFN.de</title>
  <link rel="icon" type="image/png" href="/img/favicon.png" />

  <style type="text/css" media="screen">
    body {
      font-family: Helvetica, Arial, sans-serif;
    }
    h1 {
      font-weight: normal;
    }
    .logo {
      float: right;
    }
    header {
      margin-bottom: 50px;
    }
    table {
      width: 80%;
    }
    footer {
      margin-top: 50px;
      font-size: 60%;
    }
  </style>
</head>
<body>
  <header>
    <a href="http://www.okfn.de/"><img class="logo" src="/img/okfn.png" alt="Open Knowledge Foundation Deutschland"/></a>
    <h1><strong>Paragraf5</strong>.okfn.de</h1>
    <p>
      Sammlungen digitaler, amtlicher Werke, die nach <a href="http://www.gesetze-im-internet.de/urhg/__5.html">§5 UrhG</a> urheberrechtsfrei sind, werden hier von der <a href="http://www.okfn.de/">Open Knowledge Foundation Deutschland</a> bereitgestellt.
    </p>
  </header>
  <hr/>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Zuletzt geändert</th>
        <th>Größe</th>
        <th>Beschreibung</th>
      </tr>
    </thead>
    <tbody>
      {{ content }}
    </tbody>
  </table>
  <hr/>
  <footer>
    <p>Impressum:<br/>
      Open Knowledge Foundation Deutschland e.V.<br/>
      Gneisenaustr. 52<br/>
      10961 Berlin<br/>
      info@okfn.de
    </p>
  </footer>
</body>
</html>